*.obj/
bin*/
doc/
docs/_build/*
*.jpg
*.gif
*.png
*.eps
*.ps
*.depend
*.layout
*.workspace
*.pyc
*~
*.gch
Doxyfile
build*/
*$py.class
*.egg
*.egg-info/
*.py[cod]
.Python
.eggs/
.idea/
.installed.cfg
MANIFEST
__pycache__/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
lib/
!tests/lib/
lib64/
parts/
pip-wheel-metadata/
reports/
sdist/
share/python-wheels/
var/
venv/
wheels/